---
- name: "Internal variables"
  ansible.builtin.set_fact:
    _docker_ce_conf_default: "{{ lookup('template', 'docker_ce_conf_default.j2') | from_yaml }}"
  tags:
    - docker_ce
    - always


- name: "Validate"
  ansible.builtin.include_tasks: "validate.yml"
  tags:
    - docker_ce
    - validate


- name: "Include OS distribution specific variables"
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"
  tags:
    - docker_ce
    - always


- name: "Include OS distribution specific tasks"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  tags:
    - docker_ce
    - always


- name: "Remove packages: {{ docker_ce_remove_packages | sort | join(' ') }}"
  ansible.builtin.package:
    name: "{{ docker_ce_remove_packages }}"
    state: absent
  when: docker_ce_remove_packages | length > 0
  tags:
    - docker_ce
    - install
    - packages


- name: "Install packages: {{ docker_ce_install_packages | sort | join(' ') }}"
  ansible.builtin.package:
    name: "{{ docker_ce_install_packages }}"
    state: present
  tags:
    - docker_ce
    - install
    - packages


- name: "Create directories: ..."
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0755') }}"
  with_items:
    - { path: "{{ docker_ce_conf_dir }}" }
    - { path: "{{ docker_ce_systemd_override_dir }}" }
  tags:
    - docker_ce
    - install


- name: "Copy file from template: {{ docker_ce_systemd_override_file }}"
  ansible.builtin.template:
    src: "service.override.conf.j2"
    dest: "{{ docker_ce_systemd_override_file }}"
    owner: root
    group: root
    mode: '0644'
  register: _docker_ce_register
  notify: restart docker-ce
  tags:
    - docker_ce
    - install


# NOTE: Right now, without handler!
- name: "systemd daemon reload"
  ansible.builtin.systemd:
    daemon_reload: true
  when: _docker_ce_register.changed
  tags:
    - docker_ce
    - install


- name: "Copy file from template: {{ docker_ce_conf_file }}"
  ansible.builtin.template:
    src: "daemon.json.j2"
    dest: "{{ docker_ce_conf_file }}"
    owner: root
    group: root
    mode: '0644'
  notify: restart docker-ce
  tags:
    - docker_ce
    - install


- name: "Service start: {{ docker_ce_service_name }}"
  ansible.builtin.service:
    name: "{{ docker_ce_service_name }}"
    state: started
    enabled: true
  register: _docker_ce_startup
  tags:
    - docker_ce
    - install
    - startup


- name: "Flush handlers"
  ansible.builtin.meta: flush_handlers
  tags:
    - docker_ce
    - install
