# {{ ansible_managed }}

---
services:
  node_exporter:
    image: "{{ node_exporter_docker_image }}"
    container_name: "{{ node_exporter_docker_container_name }}"
    restart: unless-stopped
    pid: host
    cap_add:
      - SYS_TIME
      - NET_RAW
    environment:
      TZ: "{{ node_exporter_docker_timezone }}"
    command:
      - '--path.rootfs=/host'
      - '--web.listen-address={{ node_exporter_docker_listen_addr }}:{{ node_exporter_docker_listen_port }}'
{% for x in node_exporter_docker_conf_runtime | dict2items | rejectattr('value', 'none') %}
      - '--{{ x.key }}={{ x.value }}'
{% endfor %}
    volumes:
      - /:/host:ro,rslave
    network_mode: host
{% if node_exporter_docker_compose_extra_conf %}
{{ node_exporter_docker_compose_extra_conf | to_yaml(indent=2, default_flow_style=False) | indent(4, true) }}
{% endif %}
