# {{ ansible_managed }}

---
{% if opensearch_docker_bind_mount_volumes is sameas false %}
volumes:
  data: {}
  logs: {}

{% endif %}
services:
  opensearch:
    image: "{{ opensearch_docker_image }}"
    container_name: "{{ opensearch_docker_container_name }}"
    restart: unless-stopped
    environment:
      TZ: "{{ opensearch_docker_timezone }}"
{% if opensearch_docker_network == "host" %}
      network.host: "{{ opensearch_docker_listen_addr }}"
      http.port: "{{ opensearch_docker_listen_port }}"
{% endif %}
      discovery.type: "{{ opensearch_discovery_type }}"
      cluster.name: "{{ opensearch_cluster_name }}"
      node.name: "{{ opensearch_node_name }}"
{% if opensearch_plugins_security_enabled %}
      plugins.security.ssl.http.enabled: "{{ opensearch_plugins_security_ssl_http_enabled | lower }}"
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: "{{ opensearch_admin_password }}"
{% else %}
      plugins.security.disabled: "true"
{% endif %}
{% for x in opensearch_docker_env_runtime | dict2items | rejectattr('value', 'none') %}
      {{ x.key }}: "{{ x.value }}"
{% endfor %}
    volumes:
{% if opensearch_docker_bind_mount_volumes is sameas false %}
      - data:/usr/share/opensearch/data
      - logs:/usr/share/opensearch/logs
{% else %}
      - {{ opensearch_docker_data_dir }}:/usr/share/opensearch/data
      - {{ opensearch_docker_logs_dir }}:/usr/share/opensearch/logs
{% endif %}
{% for v in opensearch_docker_extra_volumes %}
      - {{ v }}
{% endfor %}
{% if opensearch_docker_network != "host" %}
    ports:
      - {{ opensearch_docker_listen_addr }}:{{ opensearch_docker_listen_port }}:9200
{% else %}
    network_mode: host
{% endif %}
{% if opensearch_docker_compose_extra_conf %}
{{ opensearch_docker_compose_extra_conf | to_yaml(indent=2, default_flow_style=False) | indent(4, true) }}
{% endif %}
