---
- name: "Include OS distribution specific variables"
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"
  tags:
    - docker_ce_repo
    - always


- name: "Download file: {{ docker_ce_repo_gpg_key_src }}"
  ansible.builtin.get_url:
    url: "{{ docker_ce_repo_gpg_key_src }}"
    dest: "{{ docker_ce_repo_gpg_key_file }}"
    owner: root
    group: root
    mode: '0644'
  when: ansible_distribution != 'Altlinux'
  tags:
    - docker_ce_repo
    - install
    - download


- name: "Copy file from template: {{ docker_ce_repo_file }}"
  ansible.builtin.template:
    src: "docker-ce.repo.j2"
    dest: "{{ docker_ce_repo_file }}"
    owner: root
    group: root
    mode: '0644'
  register: _docker_ce_repo_register
  when: ansible_distribution != 'Altlinux'
  tags:
    - docker_ce_repo
    - install


- name: "Include OS distribution specific tasks"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  tags:
    - docker_ce_repo
    - always
