---
- name: "Wait for ready"
  community.docker.docker_compose_v2_exec:
    project_src: "{{ spilo_docker_compose_dir }}"
    service: spilo
    user: postgres
    command: psql -c "SELECT version();"
  register: _result
  changed_when: false
  until: _result is succeeded
  retries: 60
  delay: 3
  tags:
    - spilo
    - verify


- name: "Get restapi status"
  ansible.builtin.uri:
    url: "http://localhost:{{ spilo_docker_patroni_restapi_listen_port }}/"
    method: GET
    validate_certs: false
    follow_redirects: none
    status_code: [200, 503]
  register: spilo_docker_r_restapi_info
  tags:
    - spilo
    - verify


- name: "Validating status host"
  ansible.builtin.assert:
    that:
      - spilo_docker_r_restapi_info.json is defined
      - spilo_docker_r_restapi_info.json.pending_restart is not defined
    quiet: true
  tags:
    - spilo
    - verify
