# {{ ansible_managed }}

listen_addresses = '*'

{% for key, value in postgresql_conf_runtime.items() | sort %}
{% if value in ['on', 'off'] %}
{{ key }} = {{ value }}
{% elif value == True %}
{{ key }} = on
{% elif value == False %}
{{ key }} = off
{% elif value | regex_search("^[0-9]+(B|kB|MB|GB|TB|us|ms|s|min|h|d)?$") %}
{{ key }} = {{ value }}
{% else %}
{{ key }} = '{{ value }}'
{% endif %}
{% endfor %}

{% if postgresql_tls_enabled %}
ssl = on
ssl_cert_file = '/etc/postgresql/server.crt'
ssl_key_file = '/etc/postgresql/server.key'
{% endif %}
