# {{ ansible_managed }}

---
version: '2.2'

services:
  php-fpm:
    image: "{{ docker_php_fpm_docker_image }}"
    container_name: "{{ docker_php_fpm_container_name }}"
    restart: unless-stopped
    working_dir: /var/www
    environment:
      TZ: {{ timezone_name }}
    volumes:
      - {{ docker_php_fpm_php_conf_dir }}:/usr/local/etc/php:ro
      - {{ docker_php_fpm_fpm_conf_dir }}:/usr/local/etc/php-fpm.d:ro
      - {{ docker_php_fpm_sockets_dir }}:/var/run/php-fpm
      - {{ docker_php_fpm_logs_dir }}:/var/log/php-fpm
      - {{ docker_php_fpm_sessions_dir }}:/var/lib/php/sessions
      - /var/www:/var/www
{% if docker_php_fpm_tcp_enable == true %}
    ports:
      - {{ docker_php_fpm_ext_port }}:9000
{% endif %}
    logging:
      driver: "json-file"
      options:
        max-size: "8m"
