# {{ ansible_managed }}

---
services:
  php-fpm:
    image: "{{ php_fpm_docker_image }}"
    container_name: "{{ php_fpm_docker_container_name }}"
    restart: unless-stopped
    working_dir: /var/www
    environment:
      TZ: "{{ php_fpm_docker_timezone }}"
    volumes:
      - {{ php_fpm_docker_php_conf_dir }}:/usr/local/etc/php:ro
      - {{ php_fpm_docker_fpm_conf_dir }}:/usr/local/etc/php-fpm.d:ro
{% if php_fpm_docker_fpm_sock_dir | length > 1 %}
      - {{ php_fpm_docker_fpm_sock_dir }}:/run/php-fpm
{% endif %}
{% if php_fpm_docker_sessions_dir | length > 1 %}
      - {{ php_fpm_docker_sessions_dir }}:/var/lib/php/sessions
{% endif %}
      - {{ php_fpm_docker_logs_dir }}:/var/log/php-fpm
{% for v in php_fpm_docker_extra_volumes %}
      - {{ v }}
{% endfor %}
{% if php_fpm_docker_tcp_enabled %}
    ports:
      - {{ php_fpm_docker_listen_addr }}:{{ php_fpm_docker_listen_port }}:9000
{% endif %}
    logging:
      driver: "json-file"
      options:
        max-size: "8m"
