# {{ ansible_managed }}

---
version: '3.5'

{% if postgresql_docker_network != "host" %}
networks:
  postgresql{{ postgresql_suffix }}_network:
    driver: "bridge"
{% endif %}

{% if postgresql_bind_mount_data_volumes is sameas false %}
volumes:
  postgresql{{ postgresql_suffix }}_data: {}
{% endif %}

services:
  postgresql:
    image: "{{ postgresql_docker_image }}"
    container_name: postgresql{{ postgresql_suffix }}
    restart: unless-stopped
    environment:
      - POSTGRES_USER={{ postgresql_init_user }}
      - POSTGRES_PASSWORD={{ postgresql_init_pass }}
      - POSTGRES_DB={{ postgresql_init_base }}
    volumes:
{% if postgresql_bind_mount_data_volumes is sameas false %}
      - postgresql{{ postgresql_suffix }}_data:/var/lib/postgresql/data
{% else %}
      - {{ postgresql_data_dir }}:/var/lib/postgresql/data
{% endif %}
{% if postgresql_docker_network != "host" %}
    ports:
      - {{ postgresql_listen_address }}:{{ postgresql_port }}:5432
    networks:
      - postgresql{{ postgresql_suffix }}_network
{% else %}
    network_mode: host
    command: ["postgres", "-c", "listen_addresses={{ postgresql_listen_address }}", "-c", "port={{ postgresql_port }}"]
{% endif %}
    logging:
      driver: "json-file"
      options:
        max-size: "8m"
