# {{ ansible_managed }}

[Unit]
{# ---------------------------------------------------------------------------------------------------------------------
Jan 29 20:42:41 hostname systemd-helper[797]: dnsmasq: unknown interface eth0
Jan 29 20:42:41 hostname dnsmasq[797]: unknown interface eth0
Jan 29 20:42:41 hostname dnsmasq[797]: FAILED to start up
--------------------------------------------------------------------------------------------------------------------- #}
After=network-online.target
