---
- name: "Internal variables"
  ansible.builtin.set_fact:
    _opensearch_docker_base_url: "{{ 'https' if opensearch_plugins_security_ssl_http_enabled else 'http' }}://{{ opensearch_docker_listen_addr }}:{{ opensearch_docker_listen_port }}"
    _opensearch_internal_users: |-
      {%- set result = {} -%}
      {%- for key, value in opensearch_internal_users.items() -%}
      {%- set _ = result.update({key: {'state': 'present'} | combine(value)}) -%}
      {%- endfor -%}
      {{ result }}
  tags:
    - opensearch
