---
- name: "Ensure that variable is string"
  ansible.builtin.assert:
    that: vars[item] | type_debug in ["string", "AnsibleUnicode", "AnsibleUnsafeText", "AnsibleVaultEncryptedUnicode"]
    quiet: true
    fail_msg: "The variable must be a string"
  loop:
    - opensearch_version
    - opensearch_docker_tag
    - opensearch_docker_image
    - opensearch_docker_instance
    - opensearch_docker_network
    - opensearch_docker_timezone
    - opensearch_docker_data_dir
    - opensearch_docker_logs_dir
    - opensearch_docker_listen_addr
    - opensearch_discovery_type
    - opensearch_cluster_name
    - opensearch_node_name
    - opensearch_initial_admin_password


- name: "Ensure that variable is integer"
  ansible.builtin.assert:
    that: lookup('ansible.builtin.vars', item) | string | regex_search("^[0-9]+$")
    quiet: true
    fail_msg: "Variable must be an integer"
  loop:
    - opensearch_docker_uid
    - opensearch_docker_gid
    - opensearch_docker_listen_port


- name: "Ensure that variable is boolean"
  ansible.builtin.assert:
    that: vars[item] | type_debug == "bool"
    quiet: true
    fail_msg: "The variable must be a boolean"
  loop:
    - opensearch_docker_bind_mount_volumes
    - opensearch_plugins_security_enabled
    - opensearch_plugins_security_ssl_http_enabled


- name: "Ensure that variable is list"
  ansible.builtin.assert:
    that: vars[item] | type_debug in ["list", "AnsibleSequence"]
    quiet: true
    fail_msg: "The variable must be a list"
  loop:
    - opensearch_docker_extra_volumes


- name: "Ensure that variable is dict"
  ansible.builtin.assert:
    that: vars[item] | type_debug in ["dict", "AnsibleMapping"]
    quiet: true
    fail_msg: "The variable must be a dictionary"
  loop:
    - opensearch_docker_compose_extra_conf
    - opensearch_docker_environment
    - opensearch_docker_env_default